<{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-12">
      <div class="card animated materialU animation-delay-5">
        <div class="card-block card-block-big">
          <form action="{% url 'service:add_unfinished_car_photo' %}" method="post" enctype='multipart/form-data'>
            {{ form }}
            <input type="submit" name="save changes" value="Issaugoti Nuotrauka" class="btn btn-success">
            {% csrf_token %}
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}