{% extends 'base.html' %}

{% block content %}



    <a class="btn btn-danger" href="{% url 'service:delete_customer' customer.id %}" role="button">istrinti klienta</a>
    <a class="btn btn-primary" href="{% url 'service:update_customer' customer.id %}" role="button">atnaujinti kliento duomenis</a>
    <a class="btn btn-warning" href="{% url 'service:add_car' customer.id %}" role="button">prideti automobili</a>



    <tr>

          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ customer.name }}</td>
          <td>{{ customer.last_name }}</td>
          <td>{{ customer.phone_number }}</td>
          <td>{{ customer.email_address }}</td>

    </tr>


<form action="" method="post">
    {% csrf_token %}
<h4>{{ customer.name }} {{ customer.last_name }} Turimi automobiliai</h4>

  {% for car in cars %}


        <li><a href="{% url 'service:customer' customer.id %}">{{ car }} {{ car.license_plate }}</a></li>

    {% endfor %}
<h4>Is {{ customer.name }} {{ customer.last_name }} uzdirbti pinigai</h4>
    <li><a>{{ money }}</a></li>
</form>



</form>


{% endblock %}