{% extends 'base.html' %}


{% block content %}

    <div class="container">
        <div class="row mt-5">
            <form class="col-md-6 mx-auto mt-5" method="POST">
                {% csrf_token %}
                <hr>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert-{{ message.tags }} rounded alert-dismissible text-center my-4 py-2" role="alert">

                        {{message}}

                        </div>
                    {% endfor %}
                {% endif %}

                {% for error in form.errors %}
                <div class="alert-danger alert-dismissible rounded text-center my-4 py-2" role="alert">

                    {% if error == 'new_password' %}
                        {{form.new_password.errors.0}}
                    {% endif %}

                </div>
                {% endfor %}
                <div class="form-group">
                    <label class="form-label">Naujas slaptazodis</label>
                    <input type="password" class="form-control" name='new_password'>
                    <small>
                        <ul>
                            <li>Mažiausiai 8 simboliai</li>
                            <li>Privalomi skaičiai ir raidės</li>
                        </ul>
                    </small>
                </div>

                <button type="submit" class="btn btn-block btn-outline-info">Patvirtinti</button>

            </form>

        </div>
    </div>

{% endblock %}