h2 {
    color: yellow;
}

body {
    background: white url("images/signup.jpg") no-repeat;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.64px;
      color: #585d74;
      background-size: 1500px 750px;

}
