h2 {
    color: yellow;
}

body {
    background: black url("images/detailing.jpg") no-repeat;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.64px;
      color: #585d74;
      background-size: 1500px 650px;

}


