{% extends 'base.html' %}

{% block content %}

{% load static %}





{% if user.is_authenticated %}

    <a class="btn btn-warning" href="{% url 'logout' %}">Atsijungti</a>
{% else %}
<a class="btn btn-warning" href="{% url 'login' %}">Prisijungti</a>
{% endif %}

   <link rel="stylesheet" href="{% static 'poliravimas/style.css' %}">

    <a class="btn btn-warning" href="{% url 'service:show_contacts' %}" role="button">Kontaktai</a>
    <a class="btn btn-warning" href="{% url 'service:work_pricing' %}" role="button">Darbų kainoraštis</a>
    <a class="btn btn-warning" href="{% url 'service:finished_jobs_photo' %}" role="button">Atliktų darbų nuotraukos</a>




{% endblock %}
